<section class="faq flex-just-center">
    <div class="container faq__wrapper">
        <h2 class="faq__title title-h2">Часто задаваемые вопросы</h2>
        <div class="faq-accordeon accordeon">
            <div class="accordeon__item">
                <div class="accordeon__head">Существует ли вероятность того, что подводящий трубопровод замерзнет?</div>
                <div class="accordeon__body faq-accordeon__body accordeon__body_active">
                    <p>Вероятность того, что вода в подводящем трубопроводе замерзнет, отсутствует,
                        потому что она находится в трубе лишь на протяжении небольшого промежутка времени,
                        а все остальное время труба пуста. При прокладке трубопровода, предназначенного для хоз.
                        бытового стока, необходимо при монтаже соблюдать правильный уклон трассы. Для трубы диаметром
                        110 мм перепад должен составлять 20 мм на 1 метр, для трубы диаметром 160 мм перепад должен
                        составлять 8 мм на 1 метр.</p>
                </div>
            </div>
            <div class="accordeon__item">
                <div class="accordeon__head">Помогают ли предлагаемые вами устройства достичь в загородном доме комфорта городского уровня?</div>
                <div class="accordeon__body faq-accordeon__body">
                    <p>Нет, не может. Армированное изделие и марка бетона М-350, позволяют выдерживать значительные нагрузки, включая землетрясение до 5,5 баллов.</p>
                </div>
            </div>
            <div class="accordeon__item">
                <div class="accordeon__head">Погибают ли бактерии в холодный период при долгом простое системы?</div>
                <div class="accordeon__body faq-accordeon__body">
                    <p>Да. Иногда зимний монтаж предпочтительней. Большегрузная техника по мороженому грунту
                    не продавит и не испортит дорогу или ландшафт участка, да и грунтовая вода отходит.
                    Весной грунт даст усадку и уплотнится, и вам останется сделать лишь ландшафтное планирование.</p>
                </div>
            </div>
        </div>
    </div>
</section>