.faq {
    background: url('../../../img/questions/questions-bg.jpg') center no-repeat;
    background-size: cover;
    @include breakpoint-max($bp-md) {
        background: none;
    }
    &__title {
        text-align: center;
        margin-bottom: 60px;
    }
    &__wrapper {
        width: 70%;
        padding: 100px 0 60px;
        @include breakpoint-max($bp-sm) {
            padding-top: 60px;
        }
        @include breakpoint-max($bp-xs) {
            width: 100%;
            padding: 80px 15px 40px;
        }
    }
}

.faq-accordeon {
    &__body {
        padding: 0 15px;
    }
}