<section class="special-offer flex-just-center">
    <div class="container">
        <h2 class="special-offer__title title-h1">Акции и спецпредложения</h2>
        <div class="offer">
            <div class="offer__item">
                <div class="offer__wrapper">
                    <div class="offer__name">Однокамерный септик под ключ</div>
                    <img src="../../../img/offers/1.webp" alt="Однокамерный септик" class="offer__img">
                    <div class="offer__old-price crossed-out">43500 руб.</div>
                    <div class="offer__price">33500 руб.</div>
                    @@include('../../../components/bem-blocks/button/_button.html',{
                        "class": {
                            "bem__elem": "button offer__button"
                        },
                        "type": "button",
                        "text": "Заказать со скидкой",
                    })

                </div>


            </div>
            <div class="offer__item">
                <div class="offer__wrapper">
                <div class="offer__name">Погреб под ключ</div>
                <img src="../../../img/offers/2.webp" alt="Погреб под ключ" class="offer__img">
                <div class="offer__old-price crossed-out">43500 руб.</div>
                <div class="offer__price">33500 руб.</div>
                @@include('../../../components/bem-blocks/button/_button.html',{
                    "class": {
                        "bem__elem": "button offer__button"
                    },
                    "type": "button",
                    "text": "Заказать со скидкой",
                })
                </div>
            </div>
            <div class="offer__item">
                <div class="offer__wrapper">
                    <div class="offer__name">Колодец под ключ</div>
                    <img src="../../../img/offers/3.webp" alt="Колодец под ключ" class="offer__img">
                    <div class="offer__old-price crossed-out">43500 руб.</div>
                    <div class="offer__price">33500 руб.</div>
                    @@include('../../../components/bem-blocks/button/_button.html',{
                        "class": {
                            "bem__elem": "button offer__button"
                        },
                        "type": "button",
                        "text": "Заказать со скидкой",
                    })
                </div>
            </div>
            <div class="offer__item">
                <div class="offer__wrapper">
                    <div class="offer__name">Погреб+скважина под ключ</div>
                    <img src="../../../img/offers/4.webp" alt="Погреб+скважина" class="offer__img">
                    @@include('../../../components/bem-blocks/button/_button.html',{
                        "class": {
                            "bem__elem": "button offer__button"
                        },
                        "type": "button",
                        "text": "Узнать цену со скидкой",
                    })
                </div>
            </div>
            <div class="offer__item">
                <div class="offer__wrapper">
                    <div class="offer__name">Однокамерный септик под ключ</div>
                    <img src="../../../img/offers/5.webp" alt="Однокамерный септик" class="offer__img">

                    @@include('../../../components/bem-blocks/button/_button.html',{
                        "class": {
                            "bem__elem": "button offer__button"
                        },
                        "type": "button",
                        "text": "Узнать цену со скидкой",
                    })
                </div>
            </div>
        </div>
        <div class="offer__wrap-btn">
            @@include('../../../components/bem-blocks/button/_button.html',{
                "class": {
                    "bem__elem": "button offer__button-more"
                },
                "type": "button",
                "text": "Больше...",
            })
        </div>

    </div>
</section>
