input {
    outline: none;
	width: 100%;
	height: 60px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;


}
.input {
    &[type='text'] {
        font-family: 'MuseoSansCyrl-300', sans-serif;
		font-size: 16px;
        line-height: 22px;
		text-align: center;
        @include placeholder {
			text-align: center;
        }
		&:focus {
            border: 1px solid #a5a4a4;
            @include placeholder {
                color: transparent;
            }
        }
        @include breakpoint-max($bp-xs) {
            height: 40px;
        }
    }
}