<section class="director flex-just-center">
    <div class="container director__wrapper">
        <div class="director__appeal">
            <h2 class="director__title title-h2">Кабаев Дмитрий</h2>
            <p>Коммерческий директор компании "BIO-GLO"</p>
            <p class="director__quote">"Мы всегда находим общий язык с <br>клиентами, любим, когда нам задают <br>вопросы. Ведь именно из них мы <br>понимаем, что волнует клиентов больше всего."</p>
        </div>
        <div class="director__question">
            <p class="director__title-form">Остались вопросы?</p>
            <p>Введите свой вопрос и в течении 15 минут я свяжусь с вами!</p>
            <div class="director__form director-form">
                @@include('../../../components/bem-blocks/input/_input.html',{
                    "class": {
                        "bem__elem": "input director-form__question"
                    },
                    "type": "text",
                    "name": "question",
                    "id":"question",
                    "placeholder": "Введите свой вопрос",
                })

                @@include('../../../components/bem-blocks/button/_button.html',{
                    "class": {
                        "bem__elem": "button director-form__button"
                    },
                    "type": "submit",
                    "text": "Получить консультацию",
                })
            </div>
        </div>
    </div>
</section>