.director {
    background-color: $color__brown;
    color: $color__white;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        line-height: 26px;
        padding-top: 90px;
        padding-bottom: 90px;
        @include breakpoint-max($bp-md) {
            justify-content: space-between;
            flex-flow: column;
        }
        @include breakpoint-max($bp-sm) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    &__title {
        text-align: left;
    }
    &__appeal {
        @include breakpoint-max($bp-md) {
            display: flex;
            flex-flow: column;
            text-align: center;
            width: 70%;
        }
    }
    &__question {
        @include breakpoint-max($bp-md) {
            text-align: center;
        }
    }
    &__quote {
        font-size: 28px;
        line-height: 40px;
        font-style: italic;
        @include breakpoint-max($bp-md) {
            font-size: 24px;
            line-height: 28px;
        }
        @include breakpoint-max($bp-xs) {
            font-size: 20px;
            line-height: 26px;
        }

    }
    &__form {
        margin-bottom: 90px;
        @include breakpoint-max($bp-lg) {
            margin-bottom: 0;
            flex-flow: column;
            align-items: center;
        }
    }
    &__title-form {
        font-family: 'MuseoSansCyrl-500',sans-serif;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 10px;
        @include breakpoint-max($bp-md) {
            font-size: 22px;
            line-height: 32px;
        }
    }
}

.director-form {
    display: flex;
    &__question {
        margin-right: 10px;
        @include breakpoint-max($bp-lg) {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }
    &__button {
        font-size: 16px;
    }
}