.header {
    width: 100%;
    padding: 20px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint-max($bp-sm) {
            flex-flow: column;
        }
    }
    &__logo {
        display: flex;
        justify-content: end;
        width: 30%;
        @include breakpoint-max($bp-sm) {
            width: auto;
        }
    }
    &__text {
        max-width: 160px;
        font-family: 'MuseoSansCyrl-700',sans-serif;
        margin-left: 10px;
    }
    &__link {
        font-size: 14px;
        color: $color__green;
        @include breakpoint-max($bp-md) {
            font-size: 13px;
        }
        @include breakpoint-max($bp-sm) {
            font-size: 12px;
        }
    }
    &__phone {
        font-size: 19px;
        font-weight: 700;
        @include breakpoint-max($bp-md) {
            font-size: 16px;
        }
    }
    &__icon {
        width: 50px;
        height: 50px;
    }
    &__name {
        color: $color__blue;
    }
    &__info {
        font-size: 10px;
        color: $color__green;
    }
    &__content {
        font-size: 13px;
        text-align: center;
        width: 50%;
        @include breakpoint-max($bp-xl) {
            width: 45%;
        }
        @include breakpoint-max($bp-md) {
            width: 40%;
        }
        @include breakpoint-max($bp-sm) {
            width: 60%;
            margin: 20px 0;
            // font-size: 11px;
        }

    }
    &__contacts {
        @include breakpoint-max($bp-sm) {
            text-align: center;
        }
    }

}
