<header class="header flex-just-center">
    <div class="header__wrapper container">
        <div class="header__logo">
            <img src="img/main/drop.svg" class="header__icon" alt="Логотип">
            <div class="header__text">
                <span class="header__name">BIO-GLO</span>
                <p class="header__info">производственно-строительная компания</p>
            </div>
        </div>
        <div class="header__content">Производим бетонные кольца и устанавливаем септики под ключ в Республики Татарстан</div>
        <div class="header__contacts">
            <div class="header__phone">+7 (800) 555-64-47</div>
            <a href="#" class="header__link call-btn">Перезвоните мне</a>
        </div>
    </div>
</header>
