.gauging {
    background-color: $color__yellow;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 90px;
        padding-bottom: 90px;
        @include breakpoint-max($bp-md) {
            flex-flow: column;
        }
        @include breakpoint-max($bp-sm) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    &__title {
        @include breakpoint-max($bp-md) {
            font-size: 30px;
            line-height: 40px;
        }
    }
    &__content {
        font-size: 20px;
        line-height: 28px;
        @include breakpoint-max($bp-lg) {
            font-size: 16px;
            line-height: 20px;
        }
        @include breakpoint-max($bp-md) {
            text-align: center;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 26px;
        margin-top: 40px;
        @include breakpoint-max($bp-md) {
            font-size: 16px;
            line-height: 24px;
            margin-top: 30px;
        }
    }
    &__text-departure {
        margin-bottom: 40px;
        margin-top: 75px;
        @include breakpoint-max($bp-md) {
            margin-bottom: 30px;
            margin-top: 55px;
        }
    }
    &__button {
        width: 270px;
        font-size: 16px;
    }
    &__img {
        max-width: 457px;
        width: 100%;
        @include breakpoint-max($bp-lg) {
            width: 48%;
        }
        @include breakpoint-max($bp-md) {
            width: 70%;
        }
    }
}