<section class="gauging flex-just-center">
    <div class="container gauging__wrapper">
        <img src="../../../img/gauging/magazine.webp" alt="Септик" class="gauging__img">
        <div class="gauging__content">
            <h2 class="title-h2">Закажите бесплатный замер</h2>
            <p>Наш специалист бесплатно приедет, рассчитает <br>септик именно для вашего участка и дома!</p>

            <p>А также зафиксируйте специальные цены <br><strong>на монтаж септиков со скидкой 15%</strong></p>
            <p class="gauging__text-departure"><strong>Выезд специалиста вас ни к чему не обязывает!</strong></p>
            @@include('../../../components/bem-blocks/button/_button.html',{
                "class": {
                    "bem__elem": "button gauging__button"
                },
                "type": "button",
                "text": "Получить чек-лист и скидку",
            })
            <p class="gauging__text">Вы можете воспользоваться скидкой в течении 30 дней.</p>
        </div>
    </div>
</section>
