.constructor {
    background: url("../../../img/constructor/constructor-bg.webp") center no-repeat;
    background-size: cover;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-bottom: 60px;
        @include breakpoint-max($bp-md) {
            align-items: center;
            flex-flow: column;
        }
    }
    &__result {
        display: flex;
        align-items: end;
        flex-flow: column;
        @include breakpoint-max($bp-md) {
            margin-top: 60px;
        }
    }
    &__title {
        text-align: center;
        margin-bottom: 60px;
        padding-top: 90px;
        @include breakpoint-max($bp-sm) {
            padding-top: 60px;
        }
    }
    &__cost {
        width: 320px;
        height: 53px;
        margin: 15px 0;
        @include breakpoint-max($bp-md) {
            width: 270px;
        }
    }
    &__img {
        max-width: 320px;
        @include breakpoint-max($bp-md) {
            max-width: 270px;
        }
    }
}

.accordeon {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    &__head {
        display: flex;
        align-items: center;
        font-family: 'MuseoSansCyrl-500', sans-serif;
        min-height: 60px;
        padding: 10px 15px;
        background-color: $color__green;
        color: $color__white;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        cursor: pointer;
    }
    &__body {
        display: none;
        justify-content: center;
        &_active {
            display: flex;
        }
    }
}

.constructor-accordeon {
    width: 100%;
    max-width: 370px;
    @include breakpoint-max($bp-xs) {
        width: 288px;
    }
    &__body {
        align-items: center;
        flex-flow: column;
        padding: 15px;
    }
    &__button {
        width: 230px;
    }
    &__content {
        width: 100%;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &__clue {
        position: relative;
        text-align: left;
        &:after {
            position: absolute;
            content: "метров";
            font-weight: 700;
            right: 20px;
            margin-top: 55px;
            @include breakpoint-max($bp-xs) {
                margin-top: 45px;
            }
        }
    }
    &__distance {
        margin-bottom: 20px;
    }
}

.sumps-item {
    text-align: left;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__list {
        display: flex;
        flex-flow: column;
        font-size: 13px;
    }
    &__select {
        width: 145px;
        height: 34px;
        margin-top: 10px;
        font-family: 'MuseoSansCyrl-300', sans-serif;
        font-size: 14px;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        &:focus {
            border: 1px solid #a5a4a4;
        }
        @include breakpoint-max($bp-sm) {
            width: 125px;
        }
        @include breakpoint-max($bp-xs) {
            width: 120px;
        }
    }
    &__title {
        margin-bottom: 10px;
    }
}
