.switch-type,
.switch-bottom {
    display: inline-block;
    position: relative;
    width: 124px;
    &__checkbox {
        display:none;
    }
    &__label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        text-align: left;
        border: 2px solid #FFF;
        border-radius: 50px;
    }
    &__inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
        &:before {
            content: "";
            padding-left: 14px;
            background-color: #EEE;
            color: #93c706;
        }
        &:after {
            content: "";
            padding-right: 14px;
            background-color: #EEE;
            color: #999;
            text-align: right;
        }
    }
    &__inner:before,
    &__inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        font-weight: 700;
        box-sizing: border-box;
    }
    &__switch {
        display: block;
        width: 38px;
        margin: 1px;
        height: 41px;
        background: #A1A1A1;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 80px;
        border: 2px solid #FFF;
        border-radius: 50px;
        transition: all 0.3s ease-in 0s;
    }
    &__checkbox:checked + .switch-type__label .switch-type__inner {
        margin-left: 0
    }
    &__checkbox:checked + .switch-type__label .switch-type__switch {
        right: 0;
        background-color: #93c706
    }

}

.switch-type {
    &__inner {
        &:before {
            content: "Одно";
        }
        &:after {
            content: "Двух";
        }
    }
}

.switch-bottom {
    margin: 0 30px 0 0;
    &__inner {
        &:before {
            content: "Есть";
        }
        &:after {
            content: "Нет";
        }
    }
    &__checkbox:checked + .switch-bottom__label .switch-bottom__inner {
        margin-left: 0
    }
    &__checkbox:checked + .switch-bottom__label .switch-bottom__switch {
        right: 0;
        background-color: #93c706
    }
}

